:root{
    --main-color:#7d0cd4;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
width: 1170px;
padding-left: 15px;
padding-right: 15px;
margin: auto;





}
@media(max-width:991px){
.container{
   width: 100%;
padding-left: 15px;
padding-right: 15px;
}


}






.setting{
 background-color: #26035396;
    min-height: 100vh;
    width: 200px;
    position: fixed;
    transform: translateX(-100%);
    transition: 0.6s;
    z-index: 5;
}
.openSetting{
    transform: translateX(0);

}

.setting .icon-setting{
        position: fixed;
    top: 100px;
    right: -30px;
    text-align: center;
    background-color: white;
    cursor: pointer;


}

.setting .icon-setting i{
    padding: 8px;
    width: 30px;
}

.setting .setting-box{
padding: 20px;
    color: white;
    text-align: center;
    border-bottom: 2px solid var(--main-color);

}
.setting .setting-box .color-list{
    padding: 0;
    text-align: center;
}
.setting .setting-box .color-list li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.setting .setting-box .color-list li:first-child{
    background-color: #7F167F;
}
.setting .setting-box .color-list li:nth-child(2){
background-color: #810CA8;

}
.setting .setting-box .color-list li:nth-child(3){
background-color: #CB1C8D;
    
}
.setting .setting-box .color-list li:nth-child(4){
    background-color:#fc0499;

}
.setting .setting-box .color-list li:nth-child(5){
background-color: #F806CC;
    
}
.setting-box h4{
    font-size: 15px;
}
.setting-box  .yes,
.setting-box  .no{
width: 70px;
    background-color: var(--main-color);
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;


}
.setting-box  span.active,
.setting-box  spna:hover{
    opacity: 1;
}




.page{
background-image: url("../image/2.jfif");
background-size: cover;
min-height: 100vh;
overflow: hidden;
transition: 3s;
}



.page .header{
display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}


.page .header .logo{
    padding: 15px;
    width: 300px;
    color: white;
    transition: 0.1s;

}
.logo-close{
    visibility: hidden;
}

.page .header .links {
display: flex;
    width: 100%;
    justify-content: flex-end;

}

.page .header .links.active{
    color: var(--main-color);
}
.page .header .links li{
    padding-right: 15px;
    
    
}
.page .header .links li a{
    transition: .5s;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.page .header .links li a.active,
.page .header .links li a:hover{
    color: var(--main-color);
    
}
.page  .content{
color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 23px;
    text-align: center;
    width: 80%;
}
.page  .content span{
    color: var(--main-color);
}
.page  .content p{
        font-size: 18px;
    line-height: 2;
}
.bars{
    color: white;
    position: absolute;
    top: 25px;
    right:25px;    
    cursor: pointer;
}
.bars i{
    padding: 8px;
}
.links-mobile{
 position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #260353d4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s;
    transform: translateY(-100%);
    z-index: 9999999;
}
.opene{
    transform: translateY(0);

}
.links-mobile a{
color: white;
    flex-basis: 100px;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.links-mobile .close{
    font-size: 40px;
    position: fixed;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.links-mobile .close i{
    color: white;

}

@media(max-width:767px){
    .links li{
        display: none;
    }
}


@media(min-width:767px){
    .bars {
        display: none;
    }
    .links-mobile{
        display: none;
    }
}
.about{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;

}


.about .img-box{
flex: 1;
text-align: center;
}



.about .img-box img{
    width: 350px;
    height: 250px;
}
.about .text{
    flex: 1;
}


@media(max-width:767px){
.about{

    flex-direction: column;
}
.about .img-box{
    margin-top: 20px;
}
.about .text{
    text-align: center;
}
}




.about .text h2{
    font-size: 30px;
    color: var(--main-color);
    margin: 0;
}
.about .text p{
    color: #777;
    line-height:1.8;
}


.skills{
    padding-top: 50px;
padding-bottom: 50px;
background-color: #eee;

}
.skills h2{
  font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center
}

.skills .slills-box{
background: #fff;
display: flex;
width: 100%;
padding: 15px;
margin-bottom: 15px;

}
.skills .slills-box .skills-name{
    width: 140px;
    line-height: 25px;
    
}

.skills .slills-box .skills-progress{
    background-color: #eee;
    width: 100%;
    height: 25px;
    border-radius: 6px;
    position: relative;

}
.skills .slills-box .skills-progress span{
position: absolute;
    top: 0;
    width:0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
    border-radius: 6px;
    transition: all 2s;



}


.gallery{
padding-top: 50px;
padding-bottom: 50px;

}
.gallery h2{
font-size: 30px;
color: var(--main-color);
margin: 0 0 50px;
text-align: center;



}


.gallery .images-box{
    text-align: center;


}



.gallery .images-box img{
width: 200px;
    height: 200px;
    padding: 4px;
    background-color: #545454;
    margin: 5px;
    cursor: pointer;
}




.popup-overlay {
position: fixed;
background-color: rgba(0,0,0,.7);
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 99999;



}


.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 10px;
    z-index: 999999;
}
@media(max-width:767px){
    .popup-box{
        width: 85%;
    }
}
.popup-box h3{
    text-align: center;
    color: var(--main-color);
    margin: 0 0 20px;
}


.popup-box img{
    max-width: 100%;
}

.close-button{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}





.timeline{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}

.timeline .timeline-content{
    position: relative;
    overflow: hidden;




}
.timeline .timeline-content::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left:1px ;
    top: 0;

}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: white;
    padding: 2px 5px;
}


.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;

}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .left::before{
content: "";
width: 14px;
height: 14px;
border-radius: 50%;
background-color: white;
border: 3px solid var(--main-color);
position: absolute;
right: -35px;
top: 20px;


}
.timeline .timeline-content .right::before{
content: "";
width: 14px;
height: 14px;
border-radius: 50%;
background-color: white;
border: 3px solid var(--main-color);
position: absolute;
left: -35px;
top: 20px;


}

.timeline .timeline-content .right{
    float: right;
}

.timeline .timeline-content .content{
    padding: 20px;
    background-color: white;
}
.timeline .timeline-content .content h3{
color: var(--main-color);
margin: 0 0 10px;
}
.timeline .timeline-content .content p{
color: #666;
margin: 0;
line-height: 1.6;

}

.clearfix{
    clear: both;
}

.timeline .timeline-content .left .content:before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent white;
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 20px;


}


.timeline .timeline-content .right .content:before{
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent white  transparent   transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: -20px;
    top: 20px;


}

.features{
padding-top: 80px;
padding-bottom: 80px;



}
.features h2{
    margin: 0 0 60px;
    color: var(--main-color);
    font-size: 30px;
    text-align: center;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    text-align: center;
}
.features .feat-box{
margin: 40px;
}
.features .feat-box img{
    width: 128px;
    height: 128px;
}

.features .feat-box h4{
font-size: 22px;
margin: 15px 0 40px;
position: relative;
}
.features .feat-box h4::before{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p{
width: 90%;
margin: 0 auto;
line-height: 1.7;
color: #706f6f;

}


.testimobials{
position: relative;
padding-top: 80px;
padding-bottom: 80px;

}
.testimobials::before{
    content: "";
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    height: 100%;
}

.testimobials::after{
    content: "";
     width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    height: 100%;
}


.testimobials h2{
    font-size: 30px;
    color: white;
    margin: 0 0 30px;
    text-align: left;
    z-index: 2;
    position: relative;
    text-align: center;
}
 

.testimobials .ts-box{
    position: relative;
    z-index: 2;
    width: calc(91% / 3);
    float: left;
    background-color: white;
    padding: 20px;

}
.testimobials .ts-box:not(:last-of-type){
    margin-right: 1%;
}
.testimobials .ts-box > p{
margin: 0 0 20px;
line-height: 1.5;
font-size: 18px;
color: #707070;
font-style: italic;

}
.testimobials .ts-box .person-info{
overflow: hidden;
}
.testimobials .ts-box .person-info img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;

}

.testimobials .ts-box .person-info h4{
margin: 14px 0 10px;
}

.testimobials .ts-box .person-info p{
color: #707070;
margin: 0;

}



.nav-pullets{
position: fixed;
right: 0;
top: 50%;
transform: translateY(-50%);
width: 50px;
z-index: 999999;
}
.nav-pullets .bullet{
width: 20px;
height: 20px;
border: 3px solid var(--main-color);
border-radius: 50%;
margin: 20px auto;
position: relative;
cursor: pointer;

}

.nav-pullets .bullet .tooltip{
background-color: var(--main-color);
width: 120px;
color: white;
padding: 8px 10px;
position: absolute;
right: 32px;
top: -10px;
text-align: center;
cursor: default;
pointer-events: none;
display: none;
}

.nav-pullets .bullet:hover .tooltip{
    display: block;
}
.nav-pullets .bullet .tooltip::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -19px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
    transform: translateY(-50%);
}
































































